<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the News That is Fit to Scrape</title>
    
    <link rel="shortcut icon" type="image/png" href="img/mediumIcon.png">
		<link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    {{{ body }}}

  {{!-- Scripts --}}
	{{!-- jQuery 3.3.1 --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
  {{!-- Custom JS --}}
  <script src="app.js"></script>
  </body>
</html>
